<h1> appointment show page </h1>

Doctor's Name : <%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %><br>

Patient's Name<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %><br>

Appointment date and time : <%= @appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %><br>